/* Card close - disable
-------------------------------------------------- */

.completado2 {
  display: none;
}
.completado3 {
  display: none;
}
.completado4 {
  display: none;
}
.completado5 {
  display: none;
}
.completado6 {
  display: none;
}
.completado7 {
  display: none;
}
.completado8 {
  display: none;
}
.completado9 {
  display: none;
}
.completado10 {
  display: none;
}
.completado11 {
  display: none;
}
.completado12 {
  display: none;
}
.datos-contratante {
  display: none;
  color: #dee1e8;
}
.datos-contratante__sinpatente {
  display: none;
}
.continuar-datosvehiculos__patente {
  padding: 1em;
}
/*
.completar-datos__vehiculo {
  display: none;
}
*/
.completar-datos__vehiculo__sinpatente {
  display: none;
}
.completar-datos-direccion__planes {
  display: none;
}
.completar-datos-personales__sinpatente {
  display: none;
}
.seleccionar-inspeccion {
  display: none;
}
.seleccionar-inspeccion__sinpatente {
  display: none;
}
.agregar-productos {
  display: none;
}
#pac {
  display: none;
}
#pc {
  display: none;
}

/* Inspeccion
-------------------------------------------------- */

#centro-compania {
  display: block;
}

#inspeccion-domicilio {
  display: none;
}

#inspeccion-domicilio {
  display: none;
}

#inspeccion-domicilio__edicion {
  display: none;
}

#autoInspeccion {
  display: none;
}
#nuevo {
  display: block;
}
#usado {
  display: none;
}
