/* Form
-------------------------------------------------- */
.container-inputs {
  margin-bottom: 2em;
}
.container-inputitem {
  padding-top: 2em;
}

.form-control {
  &::placeholder {
    opacity: 1;
    transition: all 0.2s;
    color: $gray-500;
  }
  &:placeholder-shown:not(:focus)::placeholder {
    opacity: 0;
  }
  // &:placeholder-shown:not(:focus) + * {
  //   opacity: 1;
  //   content: "";
  //   top: 10px;
  //   font-size: 1rem;
  //   margin-bottom: 0;
  //   left: 10px;
  // }
  &.form-line:placeholder-shown:not(:focus) + * {
    left: 0px;
  }
  &:focus {
    outline: none;
    border-color: $gray-200;
  }
}
