/* Layout Principal 
-------------------------------------------------- */

.layout-container {
  margin: 0;
  padding: 0;
  overflow: hidden;
  .left-container {
    background-color: $body-bg;
    height: 100vh;
    padding: 0 0 60px 0;
    overflow: scroll;
    z-index: 3;
    .container-cards {
      padding-left: 1.9em;
      padding-right: 1.5em;
      margin-top: 1.5em;
      @include media-breakpoint-up(md) {
        padding-left: 3.3em;
        padding-right: 2.5em;
      }
    }
  }
  .right-container {
    background: $body-bg;
    box-shadow: inset 13px 0px 58px -7px #e0e5f0, 5px 5px 5px 1px #dddddd;
    padding: 0;
    overflow: scroll;
    z-index: 1;
  }
}

/* Generales 
-------------------------------------------------- */

*:focus {
  outline: none;
}

html {
  position: relative;
  min-height: 100%;
  font-family: $font-family-base;
}

.linea-division__seccion {
  background-color: rgba(0, 156, 51, 0.3);
  width: 100%;
  height: 1px;
  border: none;
  margin: 15px 0;
}

/* H1 H2 H3 H4 H5 H6
-------------------------------------------------- */

h1 {
  font-family: $font-weight-bold;
  color: $green;
  font-size: $h1-font-size;
  letter-spacing: -0.03em;
  line-height: 1.12em;
}

h2 {
  font-family: $font-weight-bold;
  color: $black;
  font-size: $h2-font-size;
  letter-spacing: $letter-spacing-small;
}

h3 {
  font-family: $font-weight-bold;
  color: $gray-900;
  font-size: 1.2em;
  letter-spacing: 0.01em;
}

h4 {
  font-family: $font-weight-bold;
  color: $gray-800;
  font-size: $h4-font-size;
  letter-spacing: $letter-spacing-regular;
}

h5 {
  font-family: $font-family-base;
  color: $black;
  font-size: $h5-font-size;
  letter-spacing: $letter-spacing-regular;
}

h6 {
  font-family: $font-family-base;
  color: $gray-800;
  font-size: $h6-font-size;
  letter-spacing: $letter-spacing-regular;
  line-height: 1.5em;
}

/* Tipos de pago - 2b
-------------------------------------------------- */

.patente_title {
  font-family: $font-weight-bold;
  font-size: $font-size-base;
  color: $gray-800;
}

.datos {
  font-family: $font-family-italic;
  font-size: $font-size-sm;
}

.tipodepago_container {
  font-size: $font-size-base;
  font-family: $font-family-base;
}

#vehiculo-nuevo__info {
  display: none;
  font-family: $font-family-base;
  letter-spacing: $letter-spacing-regular;
  font-size: $font-size-xs;
  line-height: 1.7em;
}
h4.card-title {
  font-size: $font-size-base;
}

.inspeccion-vehiculo {
  font-size: $font-size-base;
  font-family: $font-family-base;
  color: $gray-800;
}

a.ver-mas__info {
  font-family: $font-family-italic;
  font-size: $font-size-xs;
  color: $white;
}

a.ver-mas__info:active {
  font-size: $font-size-xs;
  color: $black;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(251, 251, 252, 0);
  box-shadow: 0 0 0 0.2rem rgba(251, 251, 252, 0);
}

a.ver-mas__info:focus {
  outline: 0;
  color: $black;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(251, 251, 252, 0);
  box-shadow: 0 0 0 0.2rem rgba(251, 251, 252, 0);
}

.info-nuevo {
  font-family: $font-family-base;
  font-size: $font-size-sm;
  letter-spacing: $letter-spacing-large;
  align-items: center;
  color: $blue;
  padding: 0.75rem 0rem;
}

/*  Medios de pago
-------------------------------------------------- */
.mediodepago-container {
  font-size: $font-size-base;
  font-family: $font-family-base;
}
.montoprimera-cuota {
  font-size: $font-size-sm;
  margin-right: 20px;
}
.terminos-condiciones {
  color: $gray-800;
  font-size: $font-size-sm;
  padding-left: 0em;
}
.agregar-productos {
  font-size: $font-size-base;
  font-family: $font-family-base;
}
.pasos-links:hover {
  text-decoration: none;
}

/* Card resumen pago cuota */

.card-resumen {
  background: linear-gradient(37deg, #0fb660 0%, #009c33 100%);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.22);
  border-radius: 0;
  margin: 5em 3em 0em 3em;
  .ribbon {
    background: $background-color-giftcard-resumen;
    box-shadow: $shadow-color-giftcard-resumen;
    color: $white;
    font-family: $font-family-base;
    font-size: $font-size-lg;
    letter-spacing: $letter-spacing-regular;
    position: absolute;
    top: -32px;
    right: -24px;
    padding: 9px 38px;
    z-index: 10;
    text-align: center;
    cursor: default;
  }
  .card-title__resumen {
    color: $black;
    font-family: $font-weight-bold;
    font-size: $font-size-xl;
    letter-spacing: $letter-spacing-regular;
  }
  .card-subtitle {
    color: $white;
    font-family: $font-family-italic;
    font-size: $font-size-lg;
    letter-spacing: $letter-spacing-regular;
    margin-top: 1.5em;
  }
  .card-text {
    color: $black;
    font-family: $font-weight-bold;
    font-size: $font-size-sm;
    letter-spacing: $letter-spacing-regular;
  }
}
.card.card-resumen_info {
  background-color: $background-color-resumeninfo;
  border-radius: 0;
  margin: 0em 3em 0em 3em;
  p.resumen-plan-seleccionado {
    color: $gray-800;
    font-family: $font-family-base;
    font-size: $font-size-sm;
    letter-spacing: $letter-spacing-small;
    text-align: center;
    margin-bottom: 0.5em;
  }
}
.card.card-seguro_incluye {
  background: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1em;
  color: $gray-800;
  font-size: $font-size-sm;
  .auto_reemplazo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55%;
    img.auto-icon {
      height: 60%;
    }
  }
  .respon_civil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55%;
    img.respon-icon {
      height: 70%;
    }
  }
  .deducible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55%;
    img.dedu-icon {
      height: 70%;
    }
  }
  .taller_marca {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55%;
    img.taller-icon {
      height: 70%;
    }
  }
  .titulo-resumenbeneficio {
    font-family: $font-weight-bold;
  }
}
.precio {
  background: rgba(53, 53, 53, 0.34);
  border-radius: 90px;
  color: $white;
  font-size: 1.9em;
  font-family: $font-weight-bold;
  padding: 0.7em 1.5em;
  // white-space: nowrap;
}

/* Terminos y condiciones */
.terminos-comprarplan {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  height: 200px;
  width: 100%;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}
/* Track */
::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(238, 238, 238, 0);
  // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(238, 238, 238, 0);
}

/* Responsive
-------------------------------------------------- */

@media (min-width: 1800px) {
  .nav-tabs .nav-item {
  }
  .container.intro {
    padding-left: 35px;
    margin-left: 2em;
    margin-top: 6em;
  }
  .navbar-brandhome {
    margin-top: 2.3em;
  }

  .indicator-margin {
    margin-bottom: 1em;
  }
  .planes-container {
    margin-top: 12em;
  }
  .title-layout-container {
    margin-top: 7.5em;
  }
  .info-nuevo {
    font-size: 1em;
  }
  .planes-container {
    margin-top: 6em;
  }
  .planes {
    width: 77%;
  }
  .footer {
    height: auto;
  }
  .footer-content {
    flex-wrap: wrap;
    text-align: center;
  }
  .footer-condiciones {
    bottom: 5px;
  }
  .card-textplanes__textdinamicos {
    font-size: 2em;
  }
  .container-list-paramentros {
    font-size: 1rem;
    .list-parametros {
      margin-top: 1em;
      margin-bottom: 1em;
      .list-parametros__item {
        padding: 18px 34px;
      }
    }
  }
  .card-gift {
    margin-top: 1em;
  }
}

@media (max-width: 1370px) {
  #modal-lateral {
    display: block;
  }

  #notificacion-envioCorreo-responsive {
    display: block;
  }
  .navbar-brandhome {
    margin-top: 2.3em;
    margin-left: 2em !important;
  }
  .container.intro {
    padding-left: 0;
    margin-top: 3em !important;
  }
  .card-planes {
    .card-header {
      padding: 0.75em 0.6em !important;
      font-size: 1em !important;
    }
  }
  .container-list-paramentros {
    margin-top: 1.5em;
    .list-parametros {
      .list-parametros__item {
        padding: 2px 8px !important;
      }
    }
  }
  .card-block {
    padding-top: 0.5em !important;
    .card-block__title {
      font-size: 0.9em !important;
    }
    .card-planes__precio {
      font-size: 1.5em !important;
    }
  }
  .card-textplanes__textdinamicos {
    font-size: 1.2em;
  }
  .seguro-incluye_info {
    font-size: $font-size-xs;
    margin-top: 1em !important;
    margin-bottom: 4.5em !important;
  }
  .margin-bottom {
    margin-bottom: 2em !important;
  }
}

@media (max-width: 1200px) {
  h1 {
    font-size: 3.2em;
    margin-top: 0em;
  }
  .container.tab-container {
    margin-bottom: 3em;
  }
  .container.intro {
    padding-left: 0;
    margin-left: 4em;
    margin-bottom: 4em;
    margin-top: 6em;
  }
  .card-header {
    padding: 0.75em 0.8em;
  }
  .container-buttonhome {
    flex-direction: column;
  }
  .buttonhome-margin {
    margin-bottom: 2em;
  }
  .navbar-brandhome {
    margin-top: 2.3em;
    margin-left: 2em !important;
  }

  .footer {
    height: auto;
    line-height: 17px;
  }
  .footer-content {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
  .footer-condiciones {
    bottom: 44px;
  }
  .necesitas-ayuda_telefonica {
    justify-content: center;
  }
  .necesitas-ayuda_chat {
    justify-content: center;
  }
  .Modern-Slider .slick-dots {
    bottom: 4.4em;
  }
  .button-home {
    padding: 16px 40px;
    font-size: 0.7em;
  }
  .button-primary__desactivado {
    padding: 16px 40px;
    font-size: 0.7em;
  }
  .container-inputitem {
    padding-top: 0;
  }
  #pills-tabContent {
    margin-bottom: 13em;
  }
  .marginbottom-card {
    margin-bottom: 1.5em;
  }
  .planes-container {
    margin-bottom: 7em;
  }
  .seguro-incluye_info {
    margin-top: 1em;
  }
  .card-body {
    padding-bottom: 2.5em;
  }
  .card.card-seguro_incluye {
    margin-bottom: 13em;
  }
  .exito-mensaje_option1 {
    margin-top: 12em;
    margin-left: 4em;
  }
  .exito-title__option1 {
    margin-right: 1em;
  }
  .container.exito-mensaje {
    margin-top: 7em;
    margin-left: 4em;
  }
  .container.error {
    margin-top: 7em;
    margin-left: 4em;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .layout-container .left-container {
    height: auto;
    .navbar-brand {
      margin-left: 1.3em;
      margin-top: 0.5em;
    }
  }
  .sidenav-responsive {
    z-index: 50 !important;
    left: 20% !important;
    top: 40% !important;
    border-radius: 2em !important;
  }
  .navbar-brandhome {
    margin-top: 2.3em;
    margin-left: 2.4em;
  }
  .container-info-carousel {
    margin-bottom: 16em;
  }
  .container.intro {
    padding-left: 0;
    margin-left: 1em;
    margin-top: 3em;
    margin-bottom: 6em;
  }
  h1 {
    font-size: 2.8em;
  }
  h3 {
    font-size: 1.2em;
  }
  .footer {
    height: auto;
  }
  .footer-content {
    flex-wrap: wrap;
    text-align: center;
  }
  .necesitas-ayuda_telefonica {
    justify-content: center;
  }
  .necesitas-ayuda_chat {
    justify-content: center;
  }
  .card.card-planes {
    margin-bottom: 2em;
  }
  .planes-container {
    margin-bottom: 12em;
  }
  ul.list-radio4 li label {
    padding: 17px 25px 32px 47px;
  }
  .card-resumen_info {
    margin-bottom: 5em;
  }
  .card-title__resumen {
    font-size: 1.2em;
  }
  .card-beneficios {
    width: auto;
    margin-bottom: 2em;
  }
  .card-beneficios__title {
    padding-top: 1em;
  }
  .tab-container {
    margin-bottom: 8em;
  }
  .precio {
    font-size: $font-size-base;
  }
  .ribbon {
    font-size: $font-size-xs;
  }
  .info-slider {
    margin-top: 3em !important;
  }
  #modal-lateral {
    display: none;
  }
  #notificacion-envioCorreo {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .layout-container .left-container {
    height: auto;
    .navbar-brand {
      margin-left: 1.3em;
      margin-top: 0.5em;
    }
  }
  .sidenav-responsive {
    z-index: 50 !important;
    left: 10% !important;
    top: 40% !important;
    border-radius: 2em !important;
    width: 300px !important;
  }
  .modal-title_slide {
    font-size: $font-size-base !important;
  }
  .modal-text {
    font-size: $font-size-sm !important;
  }
  .navbar-brandhome {
    margin-left: 1em !important;
  }
  .seguro-incluye_info {
    font-size: 0.8em;
    margin-bottom: 3em !important;
    margin-top: 0em !important;
  }

  h1 {
    font-size: 2.2em;
  }
  .container.intro {
    padding-left: 0;
    margin-left: 1em !important;
    margin-top: 6em;
    margin-bottom: 6em;
  }
  .container-inputitem {
    padding-right: 1em;
  }
  .navbar {
    padding: 0;
    margin: 0;
  }

  a.navbar-brand.navbar-brand__home.error {
    margin-left: 2em;
  }
  .container-info-carousel {
    margin-bottom: 30em;
  }
  .Modern-Slider .item h3 {
    font-size: 1.3em;
  }
  .Modern-Slider .item h5 {
    font-size: 0.8em;
    height: 80px;
    bottom: 12.5em;
  }
  #modal-lateral {
    display: none;
  }
  #notificacion-envioCorreo {
    display: none;
  }
  .alert-info {
    font-size: 0.8em;
  }
  .button-home {
    padding: 16px 40px;
    font-size: 0.7em;
  }
  .button-primary__desactivado {
    padding: 16px 40px;
    font-size: 0.7em;
  }
  .referencia-home {
    padding-left: 0;
    font-size: 1em;
  }
  hr {
    width: 90%;
  }
  h1 {
    font-size: 2.4em;
  }
  h2 {
    font-size: 1.25em;
  }
  h3 {
    font-size: 1.2em;
  }
  h4 {
    font-size: 1.1em;
  }
  h6 {
    font-size: 0.8em;
  }
  .container-buttonhome {
    flex-direction: column;
  }
  .buttonhome-margin {
    margin-bottom: 2em;
  }
  #pills-tabContent {
    margin-bottom: 14em;
  }
  .indicator-margin {
    margin-bottom: 3em;
  }
  .nav-tabs .nav-item {
    margin-bottom: 0;
  }
  .parametros-title {
    font-size: 1.1em;
  }
  .planes {
    margin-left: 4em;
    margin-right: 4em;
  }
  .planes-container {
    margin-bottom: 14em;
  }
  .footer {
    height: auto;
    padding: 1em;
  }
  .footer-content {
    flex-wrap: wrap;
    text-align: center;
  }
  .footer-condiciones {
    bottom: 182px !important;
    font-size: 0.7em !important;
    padding-bottom: 2.2em !important;
  }
  .iconoInfo-container {
    padding-left: 1em;
  }
  .necesitas-ayuda_telefonica {
    justify-content: center;
  }
  .necesitas-ayuda_chat {
    justify-content: center;
  }
  .tab-quecubre {
    margin-bottom: 13em;
  }
  .tab-quecubre-container {
    margin-bottom: 13em;
  }
  .card.card-planes {
    margin-bottom: 2em;
  }
  .planes-container {
    margin-bottom: 14em;
  }
  .card-resumen {
    margin: 4em 1em 0em 1em;
  }
  .card-resumen_info {
    margin-bottom: 10em;
  }
  .card-resumen .ribbon {
    right: -11px;
  }
  .card.card-resumen_info {
    margin: 0em 2em 0em 2em;
  }
  .card-resumen .card-title__resumen {
    font-size: 1.1em;
  }
  .conteiner-card-beneficios {
    margin-bottom: 1.5em;
  }
  .container.tab-container {
    margin-bottom: 12em;
  }
  .marginbottom-card {
    margin-bottom: 1.5em;
  }
  .card-beneficios__title {
    padding-top: 1em;
  }
  .tab-container {
    margin-bottom: 14em;
  }
  .precio {
    font-size: 1.3em;
    padding: 1em 2.5em;
    white-space: nowrap;
  }
  .ver-detalle__planresumen {
    padding-right: 0;
  }
  .card-resumen .ribbon {
    font-size: 1em;
    padding: 7px 13px;
    cursor: default;
  }
  .card-body__resumen {
    padding: 2em 1em 1em 1.8em;
  }
  .info-slider {
    margin-top: 3em;
    font-size: 0.9em;
  }
  ul.list-radio3 li label {
    padding: 21px 25px 29px 55px;
  }
  .patente_container {
    align-self: end;
    font-size: 0.9em;
  }
  .montoprimera-cuota {
    margin-right: 0;
  }
  .info-nuevo {
    font-size: 0.8em;
  }
  #vehiculo-nuevo__info {
    font-size: 0.8em;
  }
  .exito-title {
    font-size: 2.2em;
  }
  .left-container__exito .exito-mensaje {
    margin-left: 1em;
  }
  .exito-mensaje_option1 {
    margin-bottom: 5em;
  }
  .referencia-exito {
    font-size: 1.2em;
  }
  .referencia-error {
    font-size: 1.2em;
  }
  .error-mensaje {
    margin-right: 1em;
  }
  .container ul.list-radio2 {
    margin-bottom: -3em;
  }
  ul.list-radio4 li label {
    padding: 20px 25px 31px 34px;
  }
  .card.card-seguro_incluye {
    font-size: 0.8em;
    margin-bottom: 20em;
  }
  .card.card-seguro_incluye .auto_reemplazo {
    height: 40%;
  }
  .card.card-seguro_incluye .respon_civil {
    height: 40%;
  }
  .card.card-seguro_incluye .deducible {
    height: 40%;
  }
  .card.card-seguro_incluye .taller_marca {
    height: 40%;
  }
  .alert {
    padding: 16px 45px;
  }
  .exito-title__option1 {
    margin-right: 0.5em;
  }
  .referencia-error {
    margin-right: 1em;
  }
}

/* Internet Explorer 
-------------------------------------------------- */

@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  .left-container-explorer {
    overflow-x: hidden !important;
  }

  .leftExplorer {
    left: 250px;
    margin-bottom: 40px !important;
  }
  #cotizarButton-explorer {
    float: right;
  }
  #auto-icon-explorer {
    height: 30%;
  }
  #respon-icon-explorer {
    height: 30%;
  }
  #dedu-icon-explorer {
    height: 30%;
  }
  #taller-icon-explorer {
    height: 30%;
  }
}
