/* Menu de navegacion principal
-------------------------------------------------- */

.navbar-brand {
  margin-top: 1.3em;
  margin-left: 2em;
}
.nav-principal {
  background-color: $background-color-navbar;
  box-shadow: 0px 15px 35px -15px rgba(134, 142, 150, 0.6);
  .nav-item {
    letter-spacing: $letter-spacing-regular;
    font-family: $font-weight-bold;
  }
  .nav-link {
    padding: 0.5em 0.5em 0.5em 1em;
    color: $black;
    font-size: 1.3em;
  }
}
li.nav-item.nav-link.active-completado {
  color: $green;
}
li.nav-item.nav-link.disabled {
  color: $gray-300;
}
